@font-face {
  font-family: "Balsamiq Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BalsamiqSans-Regular.ttf") format("truetype");
  font-weight: normal; }
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  font-family: "Balsamiq Sans"; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fccc00; }

header {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%; }

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }

footer {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }

header {
  background-image: url(../img/header-home.jpg);
  background-position: 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header h1 {
    width: 1px;
    height: 1px;
    overflow: hidden; }
  header a {
    width: 450px;
    height: 300px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../img/lph-logos.png);
    background-size: cover; }

.line {
  width: 100%;
  display: block;
  background-color: #1f2935;
  background-image: linear-gradient(45deg, #941c21 25%, transparent 0, transparent 75%, #941c21 0, #941c21), linear-gradient(-45deg, #941c21 25%, transparent 0, transparent 75%, #941c21 0, #941c21);
  background-size: 32px 32px;
  background-position: 50%;
  height: 32px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px; }

.follow-us {
  color: #5c9ad1;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px; }
  .follow-us .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 30px; }
    .follow-us .social a {
      background-color: #5c9ad1;
      display: block;
      width: 50px;
      height: 50px;
      padding: 1rem;
      border-radius: 50%; }
    .follow-us .social a:nth-child(1) {
      background-image: url(../img/icon-facebook.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%; }
    .follow-us .social a:nth-child(2) {
      margin-right: 15px;
      margin-left: 15px;
      background-image: url(../img/icon-instagram.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%; }
    .follow-us .social a:nth-child(3) {
      background-image: url(../img/icon-twitter.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%; }

.greetings {
  margin-bottom: 31px; }
  .greetings_line {
    height: 30px;
    width: 100%;
    background-color: #002a86; }
  .greetings h2 {
    margin-top: 50px;
    text-align: center;
    background-image: url(../img/zigzag-h.svg);
    background-position: 0 50%;
    background-repeat: repeat-x;
    color: #9f1000;
    font-size: 2.8em;
    line-height: 1;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    .greetings h2 span {
      background: #fccc00;
      display: inline-block;
      padding: 0 .5em;
      position: relative; }
      .greetings h2 span:after, .greetings h2 span:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: .5em;
        content: ""; }
      .greetings h2 span:before {
        background: -webkit-gradient(linear, right top, left top, color-stop(0, #fccc00), to(rgba(252, 204, 0, 0)));
        background: linear-gradient(270deg, #fccc00 0, rgba(252, 204, 0, 0));
        left: -.5em; }
      .greetings h2 span:after {
        background: -webkit-gradient(linear, left top, right top, color-stop(0, #fccc00), to(rgba(252, 204, 0, 0)));
        background: linear-gradient(90deg, #fccc00 0, rgba(252, 204, 0, 0));
        right: -.5em; }

.quotes__wrap {
  position: relative;
  width: 1000px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }
  .quotes__wrap_img {
    position: absolute;
    display: block;
    width: 400px;
    z-index: 1;
    left: 0;
    top: 0; }
  .quotes__wrap_quote {
    display: block;
    position: absolute;
    width: 750px;
    right: 0;
    top: 20px;
    background-color: white;
    padding: 30px;
    line-height: 1.5;
    color: #002a86;
    font-size: 1.5rem;
    padding-bottom: 50px; }
    .quotes__wrap_quote:before, .quotes__wrap_quote:after {
      font-family: Arial Black,Arial,sans-serif;
      font-size: 4.5rem;
      position: absolute; }
    .quotes__wrap_quote:before {
      content: "\201C";
      left: -.15em;
      top: -45px; }
    .quotes__wrap_quote:after {
      content: "\201D";
      bottom: -55px;
      right: -.15em; }
    .quotes__wrap_quote span {
      position: absolute;
      bottom: .6rem;
      right: 2rem;
      font-size: .75em;
      color: #9f1000; }

.video {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.calculator {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.order {
  width: 100%; }
  .order-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .order-row__img {
      width: 20%; }
    .order-row__select {
      width: 80%;
      padding-left: 50px;
      padding-top: 30px; }
      .order-row__select h3 {
        padding-bottom: 1rem; }

.select-item {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 150px;
  max-width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%; }

.select-item::-ms-expand {
  display: none; }

.select-item:hover {
  border-color: #888; }

.select-item:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none; }

.select-item option {
  font-weight: normal; }

*[dir="rtl"] .select-item, :root:lang(ar) .select-item, :root:lang(iw) .select-item {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em; }

.two-item {
  display: inline-block; }

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.left-column {
  width: 60%;
  padding-left: 20px;
  padding-right: 20px; }

.right-column {
  padding-left: 20px;
  width: 40%; }

.btn {
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: button;
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  padding: 1px 7px 2px;
  text-rendering: auto;
  color: initial;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 16px system-ui; }
  .btn-purchase {
    display: block;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 40px;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.2rem; }

.orders {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  max-height: 254px; }
  .orders__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .orders__quantity {
    padding-left: 1rem;
    padding-right: 1rem; }

.close {
  font-size: 2rem;
  color: red;
  line-height: 1;
  margin-left: 1rem;
  cursor: pointer; }

.money {
  margin-top: 20px;
  margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */